@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
  font-family:"Montserrat";
}

#sidebar {
  width:200px;
  padding-left:20px;
  padding-right:20px;
  position:absolute;
  top:0; bottom:0; left:0;
  background-color:#565656;
}
#content {
  position:absolute;
  left:240px;
  top:0px;
  width:1000px;
}

.block {
  margin-top:30px;
  padding-left:20px;
  background-color:#e4b9b9;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  border-color:#565656;
}

img {
  float:left;
  margin-right:15px;
  display:inline-block;
}

#stats p {
  font-size:20px;
}

#stats {
  display:inline-block;
}

a {
  text-decoration:none;
  color:white;
}

.button:before {
  position:relative;
  width:50px;
  background-color:#ff6b6b;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  font-size:30px;
  top:100px;
  border-style:solid;
  border-radius:10px;
}

#accept:before{
  content:"ACCEPT";
  position:relative;
  left:-315px;
  top:137px;
}

#reject:before {
  content:"REJECT";
  left:-155px;
}

#pic {
  left:270px;
  display:block;
  width:500px;
  margin:0 auto;
  margin-top:30px;
}
#buttons {
  float:left;
}
.block li {
  margin-bottom:20px;
}