@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
  font-family:"Montserrat";
  background-color:#ff6b6b;
}

h2 {
  color:white;
}

#menu {
  position: fixed;
  top: 25px;
  right: 25px;
}

.buttons {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  opacity: .75;
	font-family:Arial;
  font-weight:bold;
	font-size:14px;
	padding:16px 16px;
	text-decoration:none;
}

nav {
  background-color:black;
  opacity:0.5;
  margin-left:-10px;
  margin-right:-8px;
  margin-top:-10px;
  margin-bottom:-10px;
  text-align:right;
}

.buttons:hover {
	color:#ffffff;
  opacity: 1;
}

.buttons:active {
	position:relative;
	top:1px;
}

#sidebar {
  width:200px;
  padding-left:20px;
  padding-right:20px;
  position:absolute;
  top:46px; bottom:0; left:0;
  background-color:#565656;
}
#content {
  position:absolute;
  left:0px;
  top:46px;
  width:100%;
}

h3 {
  font-size:30px;
}

.block {
  margin-top:30px;
  padding-left:20px;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  border-color:#565656;
}

img {
  float:left;
  margin-right:15px;
  display:inline-block;
  border-style:solid;
  border-width:5px;
  border-radius:15px;
  border-color:white;
  width:300px;
}

#stats p {
  font-size:20px;
}

#stats {
  display:inline-block;
}

a {
  text-decoration:none;
  color:white;
}

.button:before {
  text-align:center;
  position:relative;
  width:50px;
  background-color:white;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:60px;
  padding-right:60px;
  font-size:30px;
  border-style:solid;
  border-radius:10px;
  transition-duration:0.5s;
  margin-left:20px;
  margin-right:20px;
  
}

.button:hover:before {
  opacity:0.5;
  transition-duration:0.5s;
}

#a-r {
  position:relative;
  top:500px;
  text-align:center;
  margin:0 auto;
}

#accept:before{
  content:"ACCEPT";
  /*
  top:175px;
  left:-300px;
  */
  color:green;
  border-color:green;
}

#reject:before {
  content:"REJECT";
  /*
  top:138px;
  */
  color:red;
  border-color:red;
}

#profile {
  padding-top:5px;
  padding-left:50px;
  padding-right:50px;
  background-color:white;
  left:270px;
  display:block;
  width:700px;
  border-style:solid;
  border-color:white;
  border-width:1;
  border-radius:10px;
  padding-bottom:250px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
}

.block li {
  margin-bottom:20px;
  color:#ff6b6b;
}