@keyframes slideshow {
  0% {background:url(../img/gladiator.png) no-repeat center center fixed;background-size: cover;}
  25%{background: url(../img/manny.jpg) no-repeat center center fixed;background-size: cover;}
  75% {background:url(../img/pillow-fight.jpg) no-repeat center center fixed;background-size: cover;}
  100% {background:url(../img/russians.jpg) no-repeat center center fixed;background-size: cover;}
}

html { 
  background:url(../img/gladiator.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration:0.5s;
  animation:slideshow;
  animation-duration:3s;
  animation-iteration-count:infinite;
}